  body {
    background-color: #19181D;
    background-image: url("../icons/joystick.png");
    background-repeat: repeat;
    background-size: 100px;
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #09FEC6;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s ease
}

.inputField {
    display: flex;
    margin: 5px 0;
    padding: 6px 10px;
}

.inputField:focus {
    outline: none;
}

.formCheckbox {
    margin-left: -4px;
}

.formSubmitBtn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

#submitBtn {
    background-color: #09FEC6;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    transition: background-color 0.25s;
}

#submitBtn:hover, .spielEntfernenEl:hover, .buttons:hover {
    background-color: #0d9273;
    cursor: pointer;
}


.navigationBar {
    display: flex;
    background-color: #09FEC6;
    color: black;
    height: 56px;
    width: 100%;
}

.navbarTitle {
    font-size: 20px;
    font-weight: 400;
    margin-top: 9px;
    margin-bottom: 16px;
    margin-left: 15px;
    padding: 5px 0;
}

.navbarLinks {
    display: inline-block;
    text-align: end;
    width: 500px;
    font-size: 16px;
    line-height: 1.1em;
    font-weight: 400px;
    color: black;
    margin-left: auto;
    margin-top: 18px;
}

.navbarLinks a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding-bottom: 14.5px;
    margin-right: 25px;
    transition: transform 0.1s, font-size 0.1s;
}

.navbarLinks a:hover {
    border-bottom: 4px solid #FFFFFF;
    transform: scale(1.1);
}

.titleContainer {
    background-color: #111216;
    color: #1BFECE;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 650px;
}

#bibliothekDivTitle {
    padding-top: 10px;
}

.searchBar input {
    width: 500px;
    padding: 10px 13px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #2A2A3A;
}

.searchBar input:focus {
    outline: 2px solid #0d9273;
}


img {
    height: 250px;
    width: 250px;;
}

.row {
    display: flex;
    background-color: #19181D;
    margin-top: 20px;
}

.games {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 50px;
    margin-top: 10px;
    padding-left: 5px;
}
.gameEl {
    color: white;
    margin-left: 20px;
    margin: 15px;
    border: 2px solid white;
    padding-bottom: 20px;
}

.spielEntfernenEl {
    background-color: #09FEC6;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.25s;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.seite .userFeedbackMsg {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    padding: 1px 20px;
    margin-top: 15px;
    text-align: center;
    color: white;
    background-color: #19181D;
    height: auto;

}

.shopContainer h1:nth-child(1), .shopContainer form:nth-child(2){
    margin-left: 25%;
}

.addGameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111216;
    color: white;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    height: 100%;
    margin-top: 5%;
    width: 500px;
    padding: 10px;
}

.addGameContainer .title:nth-child(1){
    color: #1BFECE;
    text-align: center;
}

#uploadBtn {
    margin-top: 10px;
}

.closeBtn {
    background-color: white;
    border: none;
    padding: 5px 10px;
    margin-bottom: 5px;
    transition: background-color 0.25s;
}

.closeBtn:hover {
    cursor: pointer;
    background-color: rgb(192, 192, 192);
}

#flashMsgDiv {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.flashMsgDiv-success {
    padding: 0;
    margin: 10px 0 0 10px;
    display: inline-block;
    background-color: rgb(109, 255, 153);
}

.flashMsgDiv-danger {
    padding: 0;
    margin: 10px 0 0 10px;
    display: inline-block;
    background-color: tomato;
}