<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Spiel Bibliothek</title>
</head>
<body>
    <div class="seite">
        <div class="navigationBar">
            <h1 class="navbarTitle">GameStore</h1>
            <div class="navbarLinks">
                <a href="{{ url_for('startseite') }}"><span class=".navbarLinks a:hover">Startseite</span></a>
                <a href="{{ url_for('shop') }}"><span class=".navbarLinks a:hover">Shop</span></a>
                <a href="{{ url_for('persönliches_spiel_hinzufügen') }}" id="spielHinzufügenEl"><span class=".navbarLinks a:hover">Spiel hinzufügen</span></a>
                <a href="{{ url_for('logout') }}"><span class=".navbarLinks a:hover">Ausloggen</span></a>
            </div>
        </div>
        {% block content %} {% endblock %}

    </div>
    <script src="../static/js/index.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
</body>
</html>