<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/auth.css">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div id="flashMsgDiv" class=flashMsgDiv-{{category}} role="alert">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h2>Login</h2>
        <form id="Form" method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <div class="formInput">
                {{ form.email.label() }}
                {{ form.email(class="inputField") }}
            </div>
            <div class="formInput">
                {{ form.password.label() }}
                {{ form.password(class="inputField") }}
            </div>
            <div class="formCheckbox">
                {{ form.remember() }}
                {{ form.remember.label(id="checkboxLabel") }}
            </div>
            <div class="formSubmitBtn">
                {{ form.submit(id="submitBtn") }}
            </div>

            <div class="switch-form-link">
                <p>Noch kein Konto? <a href=" {{ url_for('register') }} ">Registrieren</a></p>
            </div>
        </form>
    </div>
    <script src="../static/js/auth.js"></script>
</body>
</html>